.app-loading {
  .logo {
    width: 100px;
    height: 100px;
    background: url(https://d3gyzh3f9mj82k.cloudfront.net/images/logo.svg) center center no-repeat;
    background-size: 100px 100px;
  }
}
